h1{
    text-align: center;
}

#mainNav .navbar-brand{
    font-size: 2rem;
}

#mainNav li a, #mainNav li, #mainNav i{
    color: #ffffff;
    padding: 0 .5rem;
}

#mainNav li:hover a{
    color: #80D7F5;
}

.list-group{
    margin-top: 5px;
}

.Form{
    text-align: center;
    margin: 30px auto;
    width: 350px;
}
.Form button[type = 'submit']{
    width: 100%;
}
.myButton{
    width: 100%;
    margin-bottom: 5px;
}

#pollIndex{
    margin-top: 50px;
}
#pollIndex .row{
    justify-content: flex-end;
}
#pollIndex h3{
    text-transform: capitalize;
}

.deleteForm{
    width: 350px;
    margin: 30px auto -32px auto;
    display: flex;
}
.deleteForm button{
    margin-left: auto;
}

.alert{
    margin-top: 30px;
}

#voteForm button{
    margin-top: 20px;
}

.voteContainer{
    position: relative;
    display: flex;
    color: black;
    background-color: #eeeeee;
    height: 46px;
    margin-bottom: 5px;
    border-radius: .25rem;
}

.voteContainer:hover{
    background-color: #cccccc;
}

.voteContainer p{
    margin: auto;
    text-transform: capitalize;
    font-weight: bold;
}

.voteContainer input{
    cursor: pointer;
    position: absolute;
    margin-left: 5px;
    width: 100%;
    height: 100%;
}

#pollResults{
    margin: auto;
    max-width:  600px;
    font-weight: bold;
}

#pollResults .row{
    height: 20px;
    margin: 10px 0;
    align-items: center;
}
#pollOption{
    text-align: end;
    padding-left: 10px;
    text-transform: capitalize;
}

.percentDisplay span{
    padding-left: 10px;
}

.percentDisplay{
    height: 100%;
}

#pollResults .row:nth-child(n) .percentDisplay{
    background-color: #DB697E;
}
#pollResults .row:nth-child(2n) .percentDisplay{
    background-color: #71C5E9;
}
#pollResults .row:nth-child(3n) .percentDisplay{
    background-color: #EAC46D;
}